.img-card-fit {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.img-cont {
  height: 200px;
  overflow: hidden;
  background-color: beige;
}

.card-content {
  height: 150px;
  overflow: auto;
}

main {
  min-height: calc(100vh - 100px);
}

.checked {
  color: orange;
}

.offcanvas-top {
  height: fit-content;
}

.offcanvas-body {
  overflow: visible;
}

.offcanvas-footer {
  padding-top: 1rem;
  margin-top: 1.5rem;
}

.list-group-item {
  transition: all 0.3s ease;
}

.list-group-item:hover {
  transform: scale(1.005);
  background-color: var(--bs-gray-dark) !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.movie-title, .movie-link {
  display: block;
  width: fit-content;
}

#movieMoreInfoOffcanvas li {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
